/* Variables */

:root {
  --primary-blue: #2f4ffe;
  --live-card-blue: #2842dc;
  --live-card-hover: #182988;
  --primary-white: #ffffff;
  /* --primary-white: #d8d8d8; */
  --live-green: #388e3c;
  --live-yellow: #ffc402;
  --font-blue: #002c4a;
  --overlay-background: rgba(0, 0, 0, 0.39);
  --transition-color: #032d44;
  --second-section: #002e4c;
  --twitter-color: #7dccf0;
}

/* Tags */
body {
  background-color: var(--primary-white) !important;
}
nav {
  background-color: var(--primary-blue) !important;
  max-width: 100% !important;
}

a {
  color: var(--primary-white) !important;
}
section {
  overflow: hidden;
}
footer {
  height: fit-content;
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

/* Live Navbar */
.live-navbar {
  padding: 0px !important;
  background-color: var(--live-card-blue) !important;
  width: 100% !important;
}
.live-carousel {
  height: 100% !important;
}
.live-container {
  padding: 0px 4rem 0px 1rem;
}
.live-col {
  padding: 0px 1px !important;
}
.live-card {
  background-color: var(--live-card-blue) !important;
  border-color: var(--primary-blue) !important;
  width: 10rem !important;
  color: var(--primary-white);
  height: 6rem !important;
  padding-top: 0.5rem;
}
.not-live-card {
  background-color: var(--live-card-blue) !important;
  border-color: var(--primary-blue) !important;
  width: 10rem !important;
  color: var(--primary-white);
  height: 6rem !important;
  padding-top: 0.5rem;
}
.live-card:hover .card-text {
  width: 0%;
  height: 0%;
  visibility: hidden;
}
.live-card:hover .card-hover {
  position: absolute;
  visibility: visible;
  width: 100%;
  height: 90%;
}
.card-hover {
  font-size: 0.1rem;
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.card-hover a {
  text-decoration: none;
}
.live-item :hover {
  background-color: var(--live-card-hover) !important;
}
.navbar-icon {
  height: 25px;
  width: auto;
}
.watch-label {
  color: #ffc300;
}
/* Menu Navbar */
.menu-navbar {
  background-color: var(--primary-blue) !important;
}
.nav-brasileirao {
  height: fit-content;
  background-image: url(../img/background/aro.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: left bottom;
  background-color: transparent;
}
.dropdown-menu {
  background-color: var(--live-card-blue) !important;
}
.dropdown-item:hover {
  color: var(--live-card-blue) !important;
}
/* Legends Section */
.legends-card {
  margin-top: 5%;
  border-width: 0px !important;
}

.legends-card .background-title {
  font-size: 9rem;
}

.lang-container {
  padding: 0px;
}
.brasileirao-container {
  height: 70px;
  width: 70px;
  background-image: url(../img/icon/aro_2.png);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}
/* Buttons */
.carousel-btn {
  position: static !important;
  width: auto !important;
}

.live-active {
  background-color: var(--live-green) !important;
  color: var(--primary-white) !important;
  font-size: 0.7rem !important;
  font-weight: 700 !important;
  width: 70% !important;
  height: 15% !important;
  padding: 0% !important;
}
.live-active:hover {
  background-color: var(--live-green) !important;
  color: var(--primary-white) !important;
}

.live {
  background-color: var(--live-yellow) !important;
  color: var(--font-blue) !important;
  font-size: 0.7rem !important;
  font-weight: 700 !important;
  width: 70% !important;
  height: 15% !important;
  padding: 0% !important;
}
.live:hover {
  background-color: var(--live-yellow) !important;
  color: var(--font-blue) !important;
}
.lang-btn {
  border-left: solid 1px var(--primary-white);
  font-weight: 200;
}
.lang-btn-active {
  font-weight: 500;
}

.social-icon {
  width: 1rem;
  height: auto;
}
.equipo-icon {
  margin-right: 0.5rem;
}
.person-icon {
  width: 100%;
  height: auto;
  max-width: 60px;
  max-height: 60px;

  min-width: 60px;
  min-height: 60px;
}
.accordion-button {
  background-color: transparent !important;
}
.a-brasileirao {
  margin-left: 5%;
}
.btn-brasileirao {
  height: 70px;
  width: 70px;
  background-image: url(../img/icon/brasileirao.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center center;
  background-color: transparent;
  border: 0px;
}
.a-brasileirao a {
  width: 100%;
  height: 100%;
}
.icon-brasileirao {
  max-height: 70px;
}
.active {
  background-color: transparent !important;
  border-color: transparent !important;
}
.social-container a {
  margin-right: 10px;
}

/* First Section */

.first-section {
  background: linear-gradient(90deg, black, #d3af5b);
  color: var(--primary-white);
}
.first-section-container {
  background-image: url(../img/background/first-section.png);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center left;
}
.title-container {
  padding-top: 4rem;
}
.title h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.title-shadow {
  width: 100%;
  position: absolute;
  margin-top: -50px;
  z-index: 1;
}
.title-shadow h1 {
  color: rgba(255, 255, 255, 0.075);
  font-weight: 600;
  font-size: 5rem;
}
.players-container {
  width: 100%;
  height: 600px;
  z-index: 2;
}
.active ~ .selected-container .selected {
  width: 10px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
}
/* .player-title{
  margin-left: 150px;
} */
/* .player-section{
  background-color: var(--overlay-background);
} */

.player-title-container {
  margin-bottom: 1rem;
}
.player-title {
  width: 95%;
}
.players-principal {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 2%;
}
.players-secundario {
  font-size: 0.8rem;
  font-weight: 100;
}
.players-list-container {
  width: 100%;
}
.players-list {
  background-color: var(--overlay-background);
  width: 100%;
  padding: 40px 0px 0px 0px;
  position: absolute;
  z-index: 2;
  max-height: 540px;
}
.player-description button {
  color: var(--primary-white);
}

.accordion-item {
  border-bottom: solid 1px var(--primary-white) !important;
  font-size: 0.7rem !important;
}
.accordion-button {
  color: var(--primary-white) !important;
  text-align: left;
}
.accordion-body,
.accordion-button {
  margin-left: 0% !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.rank {
  padding-right: 0% !important;
}
.player-position {
  border: solid var(--primary-white);
  border-radius: 100px;
  width: 2rem;
  padding: 0.4rem 0.3rem;
}
.player-name {
  font-weight: 300;
}
.player-details {
  font-weight: 700;
}
.separator {
  width: 1px;
  height: 50%;
  background-color: var(--primary-white);
  border-radius: 100px;
}
.legends-container {
  margin-top: 50px;
}
.video-container,
.memories-container {
  margin-top: 50px;
}
.memories-container {
  height: 400px;
}
.video-carousel {
  width: 100%; /* CAMBIAR */
}
.memories-carousel {
  width: 100%; /* CAMBIAR */
}
.video-carousel,
.memories-carousel {
  height: auto;
}
.video-item,
.memories-item {
  display: flex !important;
}
.video-box {
  visibility: hidden;
}
.active > .video-box {
  visibility: visible !important;
}
.video,
.memories {
  height: 200px;
  background-color: #000000;
  /*margin-left: 2% !important;*/
}
.video {
  min-height: 200px;
  min-width: 300px;
  max-height: 200px;
  max-width: 340px;
  margin-left: 0px !important;
}
.video img {
  height: 50%;
  width: 50%;
}
.memories {
  margin: 0px 30px;
  height: 250px;
  width: 600px;
  min-height: 250px;
  min-width: 600px;
  position: relative;
}
.tweets {
  width: 30%;
  min-height: 200px;
  min-width: 300px;
  background-color: #00000036;
}
.carousel-indicators {
  bottom: -45px !important;
}
.carousel-video-indicator,
.carousel-memories-indicator {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--primary-white) !important;
  border-radius: 10px !important;
}
.desc-container {
  height: 40%;
  width: 100%;
  background: linear-gradient(black, #2b2b2b, #474747, #474747);
  bottom: 0px;
  position: absolute;
}
.subtitle {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

/* Second Section */
.second-section {
  overflow: hidden;
  background-color: var(--second-section);
  height: 500px;
  color: var(--twitter-color);
}
.second-section-container {
  background-image: url(../img/background/second-section.png);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center bottom;
  height: 100%;
  padding-top: 100px;
}

.transition {
  background-color: transparent;
  width: 100%;
  height: 200px;
  border-left: 1500px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 200px solid var(--transition-color);
  bottom: 0;
}
.tweets-container {
  width: 100%;
}
.title-broadcast {
  font-weight: 300;
}
.broadcaster-a {
  text-decoration: none;
  color: var(--live-yellow);
}
.broadcaster-a h6,
.brasileirao-international h5 {
  color: var(--live-yellow);
}
.brasileirao-international-container {
  margin-top: 4rem;
  text-align: center;
  position: relative;
}
.brasileirao-international {
  position: relative;
}
.brasileirao-international h5 {
  padding: 7px;
  width: fit-content;
  background-color: var(--live-card-blue);
  margin-right: 80px;
  margin-bottom: 0px;
}

.links {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.brasileirao-international-container:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid var(--live-card-blue);
  background: var(--live-card-hover);
  width: 100%;
  transform: translateY(-50%);
}
.footer-container {
  height: fit-content;
  background-image: url(../img/background/aro.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
  background-color: transparent;
}
.footer-container div {
  opacity: 1 !important;
}
.footer-list-container {
  padding: 50px 0px;
}
.footer-list-header {
  font-weight: 600;
  color: var(--font-blue);
}
.footer-list {
  list-style: none;
  padding-left: 0px;
}
.footer-list li a {
  text-decoration: none;
}
.footer-logo {
  width: 35%;
  height: auto;
  padding: 50px 0px;
}

@media (min-width: 740px) {
  .title h1 {
    font-size: 4rem;
  }
  .title-shadow h1 {
    font-size: 6rem;
  }
  .players-list {
    padding: 40px 70px 150px 50px;
  }
}

@media (min-width: 992px) {
  .players-list {
    width: 80%;
  }
  .social-container a {
    margin-right: 5px;
  }
  .title-shadow h1 {
    font-size: 9rem;
  }
}

@media (min-width: 1142px) {
  .title-shadow h1 {
    font-size: 11rem;
  }
}
